@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        @* <p>Install <a href="ms-appinstaller:?source=https://localhost:7123/packages/Test.msix">MAUI</a>.</p> *@
    <p>Install <a href="ms-appinstaller:?source=https://localhost:7123/packages/test.appxbundle">MAUI</a>.</p>


</div>
